<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>38661-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,373},{93,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,142}}</string>
                <key>sourceSize</key>
                <string>{93,142}</string>
            </dict>
            <key>38661-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,487},{95,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,140}}</string>
                <key>sourceSize</key>
                <string>{95,140}</string>
            </dict>
            <key>38661-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,233},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>38661-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,538},{99,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,140}}</string>
                <key>sourceSize</key>
                <string>{99,140}</string>
            </dict>
            <key>38662-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,670},{111,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,137}}</string>
                <key>sourceSize</key>
                <string>{111,137}</string>
            </dict>
            <key>38662-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,680},{110,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,129}}</string>
                <key>sourceSize</key>
                <string>{110,129}</string>
            </dict>
            <key>38662-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{108,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,126}}</string>
                <key>sourceSize</key>
                <string>{108,126}</string>
            </dict>
            <key>38662-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,404},{107,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,132}}</string>
                <key>sourceSize</key>
                <string>{107,132}</string>
            </dict>
            <key>38663-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,584},{123,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,138}}</string>
                <key>sourceSize</key>
                <string>{123,138}</string>
            </dict>
            <key>38663-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{124,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,143}}</string>
                <key>sourceSize</key>
                <string>{124,143}</string>
            </dict>
            <key>38663-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,545},{124,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,146}}</string>
                <key>sourceSize</key>
                <string>{124,146}</string>
            </dict>
            <key>38663-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,464},{124,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,140}}</string>
                <key>sourceSize</key>
                <string>{124,140}</string>
            </dict>
            <key>38663-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,770},{122,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,136}}</string>
                <key>sourceSize</key>
                <string>{122,136}</string>
            </dict>
            <key>38663-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,364},{121,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,142}}</string>
                <key>sourceSize</key>
                <string>{121,142}</string>
            </dict>
            <key>38663-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{121,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,146}}</string>
                <key>sourceSize</key>
                <string>{121,146}</string>
            </dict>
            <key>38663-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,468},{122,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,141}}</string>
                <key>sourceSize</key>
                <string>{122,141}</string>
            </dict>
            <key>38664-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{153,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,143}}</string>
                <key>sourceSize</key>
                <string>{153,143}</string>
            </dict>
            <key>38665-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,590},{111,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,137}}</string>
                <key>sourceSize</key>
                <string>{111,137}</string>
            </dict>
            <key>38665-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,194},{168,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,74}}</string>
                <key>sourceSize</key>
                <string>{168,74}</string>
            </dict>
            <key>38665-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{191,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,68}}</string>
                <key>sourceSize</key>
                <string>{191,68}</string>
            </dict>
            <key>38665-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,72},{182,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,59}}</string>
                <key>sourceSize</key>
                <string>{182,59}</string>
            </dict>
            <key>38665-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,400},{153,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,143}}</string>
                <key>sourceSize</key>
                <string>{153,143}</string>
            </dict>
            <key>38665-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,184},{163,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,143}}</string>
                <key>sourceSize</key>
                <string>{163,143}</string>
            </dict>
            <key>38665-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,233},{150,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,129}}</string>
                <key>sourceSize</key>
                <string>{150,129}</string>
            </dict>
            <key>38665-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,329},{133,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,148}}</string>
                <key>sourceSize</key>
                <string>{133,148}</string>
            </dict>
            <key>38665-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,270},{132,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,91}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>38665-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,671},{145,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,97}}</string>
                <key>sourceSize</key>
                <string>{145,97}</string>
            </dict>
            <key>38665-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{184,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,62}}</string>
                <key>sourceSize</key>
                <string>{184,62}</string>
            </dict>
            <key>38665-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{166,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,85}}</string>
                <key>sourceSize</key>
                <string>{166,85}</string>
            </dict>
            <key>38666-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,141},{170,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,51}}</string>
                <key>sourceSize</key>
                <string>{170,51}</string>
            </dict>
            <key>38667-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,557},{111,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,137}}</string>
                <key>sourceSize</key>
                <string>{111,137}</string>
            </dict>
            <key>38668-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,298},{153,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,126}}</string>
                <key>sourceSize</key>
                <string>{153,126}</string>
            </dict>
            <key>38669-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{182,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,126}}</string>
                <key>sourceSize</key>
                <string>{182,126}</string>
            </dict>
            <key>38669-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{204,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,137}}</string>
                <key>sourceSize</key>
                <string>{204,137}</string>
            </dict>
            <key>38669-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,130},{101,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,164}}</string>
                <key>sourceSize</key>
                <string>{101,164}</string>
            </dict>
            <key>38669-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,66},{116,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,182}}</string>
                <key>sourceSize</key>
                <string>{116,182}</string>
            </dict>
            <key>38669-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,133},{163,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,173}}</string>
                <key>sourceSize</key>
                <string>{163,173}</string>
            </dict>
            <key>38669-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,199}}</string>
                <key>sourceSize</key>
                <string>{215,199}</string>
            </dict>
            <key>38669-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{157,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,126}}</string>
                <key>sourceSize</key>
                <string>{157,126}</string>
            </dict>
            <key>38669-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,426},{148,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,129}}</string>
                <key>sourceSize</key>
                <string>{148,129}</string>
            </dict>
            <key>38670-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,270},{160,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,128}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>38671-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,894},{108,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,131}}</string>
                <key>sourceSize</key>
                <string>{108,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebe07cb0babba31e2d74b5761b5ada44:1/1$</string>
            <key>textureFileName</key>
            <string>role1.png</string>
        </dict>
    </dict>
</plist>
